.c-card-chart-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}
.c-card-chart-container-info {
  border: 2px solid #ff0000;
  background-color: #fff0f0;
}
